# Ignorar arquivos e pastas de compilação
bin/
obj/

# Ignorar configurações específicas de IDE
.vs/
.idea/
.vscode/

# Ignorar configurações do VScode
*.user
*.suo

# Ignorar pacotes NuGet locais
/packages/

# Ignorar arquivos de configuração sensíveis
appsettings*.json
appsettings.Development.json
MotelAPI.sln
MotelAPI.csproj
MotelAPI.http


# Ignorar certificados e chaves
*.pfx
*.cer
