# Ignore build outputs
bin/
obj/
publish/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore Rider project files
.idea/

# Ignore Visual Studio Code workspace settings
.vscode/

# Ignore local NuGet packages
/packages/

# Ignore .NET Core project files
project.lock.json
project.fragment.lock.json
artifacts/

# Ignore sensitive configuration files
appsettings*.json
appsettings.Development.json
MotelAPI.sln
MotelAPI.csproj
MotelAPI.http

# Ignore certificates and keys
*.pfx
*.cer
